html,
body {
  padding: 0px;
  margin: 0px
}

html {
  font-family: "futura-pt";
}

label {
  text-align: center;
}

nav {
  top: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0px;
  color: white;
  position: fixed;
  z-index: 5;
  width: 100%;
  max-width: 100%;
  line-height: 50px;
}

nav {
  position: fixed;
}

nav ul {
  padding: 0px;
  width: 600px;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  line-height: 100%;
  vertical-align: middle
}

nav li.github {
  color: transparent;
  position: relative;
  top: 3px;
}

nav a.home {
  color: darkseagreen;
}

.green {
  background-color: darkseagreen;
}

main {
  position: relative;
  top: 70px;
  width: 900px;
  margin: auto;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 5em;
  margin: 0em;
  margin-bottom: 0em;
}

.subheading {
  margin: 0em;
  font-size: 2em;
}

.green h1,
.green h2,
.green h3,
.green p {
  color: white;
}

small {
  margin-right: 100px;
  margin-bottom: 20px;
  display: block;
}

a:link,
a:visited {
  color: inherit;
}

#stories li {
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
  word-wrap: break-word
}

#stories li {
  line-height: 100%;
  max-width: 100%;
}

#stories li a:link {
  text-decoration: none;
}

.date {
  font-size: 15px;
  display: block;
}

.author {
  color: darkseagreen;
}

.title {
  font-weight: bold;
}


/* Code blocks for front page */

.codeblock {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  background-color: #F1F1F1;
  color: black;
  padding: 10px;
  margin-bottom: 5px;
  line-height: 130%;
}

.tag {
  background-color: crimson;
  color: white;
}

.if {
  color: white;
  background: blue;
}

.codeblock button,
.preview {
  background-color: black;
  color: white;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 80%;
  display: block;
  position: absolute;
  right: 0px;
}

.preview {
  margin-top: 0px;
  margin-right: 20px;
}

#story {
  margin: auto;
  max-width: 100%;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
}

#heading {
  border-style: solid;
  border-width: 0 0 0 4px;
  margin-right: 10px;
  margin-top: 100px;
}

#story h1 {
  word-break: break-all;
  margin: 10px 0 10px 0;
  text-align: right;
  line-height: 100%;
}

#story h2 {
  font-size: 120%;
  margin: 0px;
  color: darkseagreen;
  text-align: right;
}

#story p:first-of-type:first-letter {
  float: left;
  color: darkseagreen;
  font-size: 80px;
  line-height: 60px;
  padding-top: 8px;
  padding-right: 4px;
  padding-left: 4px;
  font-weight: bold;
}

#errors {
  display: none;
  background-color: red;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

@media (max-width:700px) {
  #heading {
    border-style: solid;
    border-width: 0px 4px 0 0px;
    margin-right: 0px;
    margin-left: 10px;
  }
  #story h1 {
    text-align: left;
    font-size: 150%
  }
  #story h2 {
    text-align: left;
    font-size: 100%
  }
}
