{{{header}}}

<main>
  
  {{#if story}}
  
  <h1 style="line-height:100%">Edit "{{story.title}}":</h1>
  
  <p>Bookmark this page to edit your story. Keep the url safe.</p>
  
  {{else}}
  
  <h1 style="line-height:100%">Write a story...</h1>
  
  {{/if}}

  
  <p>Write in the editor below. To test tags and see what your story looks like locaised, press the button under the editor. Your localised story will then appear <a href="#localise">under the editor</a>. Unsure of how it works or have a question? <a href="https://github.com/FilipNest/relativefiction">Get help here</a>.</p>

  {{#unless story}}

  <p>Want to share your story with others? <a style="cursor:pointer;" id="save"><u>Save it to the library</u></a>. You'll be able to edit it later with a special (keep secret) url. You'll be asked for a name, email (only used if you forget your edit link) and title for the story and will be able to edit it later.</p>

  {{else}}

  <!-- Original story -->

  <script>
    var story = {
      "title": `{{story.title}}`,
      "text": `{{story.text}}`,
      "author": `{{story.author}}`,
      "email": `{{story.email}}`
    }

  </script>

  <p>Edit your text and <a style="cursor:pointer;" id="save"><u>update it in the library</u></a> when you're done.</p>

  {{/unless}}
  
  <section id="editor"></section>
  <button id="localise" class="preview">Localise</button>
  
  <br />

  <div id="errors"></div>

  <section id="story">

    <section id="header"></section>

    <section class="story"></section>

  </section>

</main>

{{{footer}}}

<script src="/codemirror/lib/codemirror.js"></script>
<script src="/codemirror/addon/mode/simple.js"></script>
<script src="/codemirror/mode/handlebars/handlebars.js"></script>
<link rel="stylesheet" href="/codemirror/lib/codemirror.css" />

<script src="/vex/js/vex.combined.min.js"></script>
<link rel="stylesheet" href="/vex/css/vex.css" />
<link rel="stylesheet" href="/vex/css/vex-theme-default.css" />

<script>
  vex.defaultOptions.className = 'vex-theme-default';

</script>

<script>
  $("#save").click(function() {

    var inputs = "";

    if (story) {

      inputs += `<label for='author'>Author:</label> <input type='text' value='{{story.author}}' name='author' /><br />`;
      inputs += `<label for='title'>Story title:</label> <input type='text' value='{{story.title}}' name='title' /><br />`;
      inputs += `<label for='email'>Email address:</label> <input value='{{story.email}}' type='email' name='email' />`;
      inputs += `<input type='hidden' name='key' value='{{story.key}}'/>`;

    } else {

      inputs += "<label for='author'>Author:</label> <input type='text' name='author' /><br />";
      inputs += "<label for='title'>Story title:</label> <input type='text' name='title' /><br />";
      inputs += "<label for='email'>Email address:</label> <input type='email' name='email' />";

    }

    vex.dialog.open({
      message: "Thanks for your story, fill in the following and it'll upload to the library.",
      input: inputs,
      callback: function(data) {

        data.text = myCodeMirror.getValue();

        $.post("/save", data).done(function(response) {

          window.location.href = "/editor/" + response.key

        });

      }
    });

  })

</script>


<style>
  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    font-size: 1.5em;
  }

</style>

<script>
  var myCodeMirror = CodeMirror(document.getElementById("editor"), {
    mode: "handlebars",
    lineWrapping: true,
    value: story ? story.text : undefined
  });

  if (story) {

    $(".preview").click();

  }

</script>

</html>
