<!DOCTYPE HTML>
<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Relative Fiction</title>
    <meta name="description" content="A tool for creating dynamic stories relative to a reader's location, time, current events and more.">
  <link rel="stylesheet" href="/library.css" />

  <script src="//use.typekit.net/vct1gvu.js"></script>
  <script>
    try {
      Typekit.load();
    } catch (e) {}

  </script>

</head>

<nav>
  <ul>
    <li><a class="home" href="/">Relative Fiction</a></li>
    <li><a href="/library">Stories</a></li>
    <li><a href="/editor">Write</a></li>
    <li class="github">
      <a class="github-button" href="https://github.com/FilipNest/relativefiction/issues" data-style="mega" aria-label="Issue FilipNest/relativefiction on GitHub">Bugs/Requests</a>
      <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    </li>
    <li><a href='http://twitter.com/filipnest'>by FilipNest</a></li>
  </ul>
</nav>
